@font-face {
    font-family: aeonik ;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

@font-face {
    font-family: aeonik ;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik ;
    font-weight: 400;
    src: url(./AeonikTRIAL-Light.otf);
}

:root{
    --pri : #000000;
    --sec:#ae0001;
    --tri1:#eeba30;
    --tri2:#92731d;
    --tri3:	#740001;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
    color: var(--tri1);
}

main{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: var(--sec);
}

section.elems{
    height: 100%;
    width: 100%;
    background-color: var(--tri2);
    padding-top: 80px;
    padding-inline: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
   position: absolute;
}

.elem{
    height: 350px;
    width: 250px;
    overflow: hidden;
    background-color: pink;
    border-radius: 10px;
     position: relative;
     transition: all ease 0.5s;
}

.elem>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem>h2{
    position: absolute;
    bottom: 4%;
    right: 3%;
    font-weight: 500;
    font-size: 40px;
}

.elem:active{
    scale: 0.90;
}

.fullelem{
    height: 100%;
    width: 100%;
    background-color: var(--tri2);
    display: none;
    position: absolute;
}

.fullelem>h1{
    font-size: 50px;
}

.back{
    padding: 5px 10px;
    background-color: red;
    border-radius: 7px;
    border: none;
    outline: none;
    color:white;
    font-size: 30px;
    position: absolute;
    right: 3%;
    top: 5%;
    cursor:pointer
}

.back:hover{
    background-color: #cd0d11;
}


/* .todo-fullpage{
    display: block;
} */

.todo-fullpage h2{
    font-size: 80px;
    margin: 20px;
}

.todo-fullpage .taskcontainer{
    display: flex;
    align-items:  center;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
    height: 75%;
    
}

.todo-fullpage .taskcontainer .addTasks{
    width: 30%;
    height: 100%;
    background-color: var(--sec);
    border-radius: 10px;
    padding: 20px;
}

.todo-fullpage .taskcontainer .addTasks form{
    display: flex;
    flex-direction: column;
   color: white;
    
    gap: 10px;
}

.todo-fullpage .taskcontainer .addTasks form input{
    padding: 20px 30px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: var(--tri3);
    color: white;
}

.todo-fullpage .taskcontainer .addTasks form textarea{
    padding: 20px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 300px;
    font-size: 20px;
    background-color: var(--tri3);
    color: white;
}

.todo-fullpage .taskcontainer .addTasks form .check-imp input{
    scale: 1.5;
}

.todo-fullpage .taskcontainer .addTasks form .check-imp label{
    scale: 1.5;
}

.todo-fullpage .taskcontainer .addTasks form button{
    padding: 20px 30px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--tri1);
    transition: all ease 0.3s;

}

.todo-fullpage .taskcontainer .allTasks{
    width: 60%;
    height: 100%;
    background-color: var(--tri3);
    border-radius: 10px;
    padding:10px;
    overflow: auto;
    
}

.todo-fullpage .taskcontainer .allTasks::-webkit-scrollbar{
    display: hidden;
}

.todo-fullpage .taskcontainer .allTasks .task{
    background-color: var(--tri1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding-inline: 10px;
    margin-bottom: 10px;
}

.todo-fullpage .taskcontainer .allTasks .task h2{
    font-size: 50px;
}

.todo-fullpage .taskcontainer .allTasks .task h2 .imp{
    font-size: 15px;
    background-color: red;
    padding: 3px 5px;
    border-radius: 50px;
}

.todo-fullpage .taskcontainer .allTasks .task button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.todo-fullpage .taskcontainer .allTasks .task button:active{
    scale: 0.95;
}

.planner-fullpage{
    padding: 20px;
}

.planner-fullpage h2{
    font-size: 70px;
    margin: 20px;
}

.planner-fullpage .day-planner{
    background-color: var(--sec);
    height: 80%;
    width: 100%;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;
}

.planner-fullpage .day-planner .day-planner-time{
    width: 40%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 10%;
    left: 1%;
    font-size: 20px;
}

.day-planner .day-planner-time input{
    padding: 10px 20px;
    width: 100%;
    background-color: #740001;
    border: none;
    border-radius: 7px;
    outline:none;
    padding-top: 40px;
    font-size: 30px;
    color: white;
    transition: all ease 0.2s;
}




